* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;
    letter-spacing: 2px;
}

/* LANDING PAGE */

.landing-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.landing-page .box1 {
    background-color: #c6dde9;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.landing-page .text {
    padding: 20px;
}

.landing-page .text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.landing-page .text p {
    font-size: 1.1rem;
}

.landing-page .box1 .text span {
    color: #fff;
}
.landing-page .box1 img {
    width: 300px;
    height: 50%;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 40px;
}

.landing-page .box1 button {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
    margin: 20px 0 0 20px;
    cursor: pointer;
}

.landing-page .box2 {
    background-color: #f07949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page .box3 {
    background-color: #f9b131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page .box2 h2,
.landing-page .box3 h2 {
    color: #fff;
    font-size: 2rem;
}
.landing-page .box2 p,
.landing-page .box3 p {
    font-size: 0.7rem;
}

/* MAIN SECTION */

main {
    height: 100vh;
    width: 100vw;
}

main nav {
    padding: 20px 0;
    background-color: #eaeaea;
}
main nav ul {
    display: flex;
    justify-content: space-around;
}

main nav ul li {
    list-style: none;
}

main nav ul li a {
    text-decoration: none;
    color: #a8a19e;
}

main nav ul li a.active {
    color: #000;
}

main .content2 .container {
    width: 100vw;
    height: 50vh;
    background-color: #f9b131;
    display: flex;
    justify-content: space-around;
}

main .content2 .container .box {
    width: 280px;
    height: 250px;
    background-color: white;
    position: relative;
    top: -80px;
    border-radius: 10px;
    padding: 10px;
}

main .content2 .container .imgHolder {
    height: 70%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -50px;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 10px;
}

main .content2 .container .imgHolder img {
    width: 120px;
    margin-left: 50px;
}

main .content2 .container .box:nth-child(1) .imgHolder {
    background-color: #c6dde9;
}

main .content2 .container .box:nth-child(2) .imgHolder {
    background-color: #f9b131;
}

main .content2 .container .box:nth-child(3) .imgHolder {
    background-color: #f07949;
}

main .content2 .container .box h4 {
    text-align: center;
}

main .content2 .container .box p {
    text-align: center;
    font-size: 0.55rem;
}

main .content2 .text {
    text-align: center;
    align-self: center;
    position: absolute;
    padding: 10px;
    margin-top: 50px;
}

main .finance {
    width: 100vw;
    height: 50vh;
    background-color: #a8a19e;
    display: flex;
}

main .finance .left {
    width: 50%;
    justify-self: center;
    align-self: center;
    margin-bottom: 40px;
    padding: 20px;
}

main .finance .left h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

main .finance .left button {
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

main .finance .right {
    width: 50%;
    align-self: center;
    margin-bottom: 50px;
    padding: 20px;
}

main .about {
    width: 100vw;
    height: 50vh;
    background-color: #f9b131;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

main .about p {
    margin-bottom: 40px;
}

/*  FOOTER */

footer {
    /* margin-top: 59px; */
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

footer .grid {
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer .up {
    width: 100vw;
    height: 30vh;
}

footer .grid > div {
    display: flex;
    flex-direction: column;
}

footer .grid .cell1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

footer .grid > div:not(.cell1) p {
    align-self: center;
    margin-top: 25%;
    text-align: center;
}

footer .cell1 {
    background-color: #c6dde9;
}

footer .cell2,
footer .cell4,
footer .cell6 {
    background-color: #fff;
    color: #a8a19e;
}

footer .cell3 {
    background-color: #a8a19e;
    color: #000;
}

footer .cell5 {
    background-color: #f07949;
}

footer .grid > div h3 {
    padding: 10px;
    font-size: 1.5rem;
    color: #a8a19e;
}

footer .grid .cell3 h3 {
    color: #000;
}
footer .up {
    width: 100vw;
    background-color: #777474;
}
footer .up nav {
    width: 100%;
    height: 25%;
    background-color: #a8a19e;
    padding: 5px;
}

footer .up nav a {
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 45%;
}

footer .up nav i {
    margin-left: 50%;
}
